@charset 'UTF-8';

:root {
  --f_fontSize: 16px;
  --f_lineHeight: 1.5;
  --f_fontWeight: 400;
}

html {
  font-size: var(--f_fontSize);
  line-height: var(--f_lineHeight);
  font-weight: var(--f_fontWeight);
}

/* Body */
.body {
  font-size: clamp(100%, 1rem + 2vw m 25px);
}

/* Header */
.Header {
}

/* Aside */
.Aside {
}

/* Main */
.Main {
}

/* Footer */
.Footer {
}
